tmp*
*.bak
*.diff
target/
metastore_db/
.idea/
.classpath
.project
.settings/
*.iml
.tags*
*.jar
*.mp4
*.jpg
*.png
*.pyc
dependency-reduced-pom.xml
.arcconfig
.DS_Store
.iml
derby.log
bin/tf_records/
bin/dnn/log
bin/fastvideo/data
bin/fastvideo/runs
bin/lda/data
bin/fastvideo/run
bin/fastvideo/model
*.egg-info
*dist
